
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    max-height: 23px;
}

#mainGrid{
    display: grid;
    grid-template-columns: 1.3fr 8fr;
}

#sidebar{
    grid-row: 1/10;

}

#secGrid{
    display: grid;
    grid-template-rows: 1fr 5fr;
}

#header{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.tophead{
    display: grid;
    grid-template-columns: 3fr 1fr;
}


.notifications{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
}

.bottomhead{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contentGrid{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#Trending{
    grid-column: 2;
    grid-row: 2;
}



#sidebar{
    background-color: rgb(64, 201, 243);
    font-size: larger;
}

ul{
    padding-top: 20px;
    margin-left: -20px;
    
}

ul li {
    list-style: none;
    padding: 4px;
}

a {
    text-decoration: none;
    color: black;
}

li a{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 22px;
    align-items: center;
}



.logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 20px;
}

.logo img{
    justify-self: center;
    align-self: center;
}

.logo p{
    justify-self: center;
    align-self: center;
    font-size: 1.8vw;
    padding-right: 10px;
}

/************* after sidebar done ****************/

#header {
    background-color: antiquewhite;
}


form {
    margin-top: 17px;
    display: grid;
    grid-template-columns: 1fr 8fr;
}

form svg{
    justify-self: flex-end;
    max-width: 3vw;
    min-width: 30px;
    align-self: center;

}

#query {
    border-radius: 25px;
    padding: 20px;
    height: 30px;
    font-size: 20px;
}






